{% extends "main.html" %}

{% block morestyles %}
<style  type="text/css">body{--tertiary:#D3D3D3;--primary:#C0C0C0;--secondary:  #696969 }</style>
{% endblock morestyles %}

{% block mainblock %}
<div>
  <div class="container">
        <div class="row">
    {% for item in object_list %}

          <div class="col-12 col-sm-6 col-md-4 col-xl-4 px-1 my-2">

            <div class="card  h-100" style = "--primary:#{{ item.primary }};--secondary:#{{ item.secondary }};--tertiary:#{{ item.tertiary }}; overflow: hidden">

              <div class="card-body p-1 bg-primary">
                <a style="width:64px" class="btn btn-secondary mt-1 mr-1" href="{% url "setcolor" item.id %}?{{ request.GET.urlencode }}" ><i class="fas fa-cat fa-2x py-0"></i></a>

                <a href="{% url "setcolor" item.id %}?{{ request.GET.urlencode }}" class="card-link">
                  <h5 class="card-title">{% lorem 1 w %} {{ item.id }}</h5>
                </a>
                <p class="card-subtitle text-muted">{% lorem 3 w %}</p>
              </div>
              <div class="card-body p-1" >
                <p class="card-text text-justify"><small>{% lorem 12 w %}</small></p>
              </div>
              <div class="card-body p-1 folder-background" >
                <a href="{% url "setcolor" item.id %}?{{ request.GET.urlencode }}">
                  <i class="fas fa-crown py-0 px-1"></i>
                  <small>{% lorem 1 w %}</small>
                </a>
              </div>
              <div class="card-footer text-muted text-nowrap px-1">
                <a href="{% url "setcolor" item.id %}?{{ request.GET.urlencode }}">
                  <i class="far fa-save py-0 px-1"></i>SAVE
                </a>
              </div>
            </div>
          </div>
      {% if forloop.counter|divisibleby:"6" %}
        </div>
        <div class="row">
      {% endif %}
    {% endfor %}
      <div class="col-12 px-1 my-2">
          <h6><a class="btn btn-secondary" href="{% url 'colors' %}?{{ request.GET.urlencode }}">more...</a>
              <a class="btn btn-secondary" href="{% url 'setrandomcolors' %}?{{ request.GET.urlencode }}">set random</a>
              <a class="btn btn-link" href="{% url 'home' %}?{{ request.GET.urlencode }}">cancel</a>
          </h6>
      </div>
    </div>
  </div>
</div>


{% endblock mainblock %}
