{% extends "main_strip.html" %}
{% load html_uni_extras %}
{% load staticfiles %}

{% block mainblock %}
  <div>
    <div class="container-fluid">
          <div class="row">
      {% for item in item_list %}

            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-2 px-1 my-2">

              <div class="card  h-100">
                {% if not request.session.hide_photo %}
                <img class="card-img-top mx-auto img-fluid" src="{% static "IMG/empty.jpg" %}" alt="Card image cap" style="object-fit: cover;width:500px;height:220px;">
                {% endif %}
                <div class="card-body p-1">
                  <a href="#" class="card-link">
                    <h5 class="card-title">{{ item.name }}</h5>
                  </a>
                  <h6 class="card-subtitle text-muted">{{ item.type.full_name_wbr|set_shy }}</h6>
                  <p class="card-text text-justify">{{ item.full_text }}</p>
                </div>
                <div class="card-text text-muted text-right px-1"><small>{{ item.full_number }}</small></div>
                <div class="card-footer text-muted text-nowrap px-1">
                  <small><a href="#">
                      <div style="text-overflow: ellipsis; overflow: hidden; ">
                        <i class="fas fa-map-marker-alt py-0 px-1"></i>{{ item.full_place }} </div>
                    </a>
                  </small>
                </div>
              </div>
            </div>
        {% if forloop.counter|divisibleby:"6" %}
          </div>
          <div class="row">
        {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>
{% endblock mainblock %}
