<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="CSS/mygarage.css" type="text/css">
  <link rel="stylesheet" href="{% static "CSS/mygarage.css" %}" type="text/css">
  <link rel="stylesheet" href="{% static "CSS/custom.css" %}" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
  <title>{% block title %}myGarage{% endblock title %}</title>
  <style  type="text/css">body{--tertiary: #{{ request.session.colors.tertiary }};--primary: #{{ request.session.colors.primary }};--secondary: #{{ request.session.colors.secondary }} }</style>
  {% block morestyles %}
  {% endblock morestyles %}

<body>

{% block header %}
  <div>
    <div class="container-fluid" >
      <div class="row bg-primary p-1">

        <div class="col-12 col-sm-12 ml-12 col-md-3 col-lg-3 p-0" style="">
          <h2><i class="fa fa-box-open p-1"></i><small class="text-muted">my</small>Garage</h2>
        </div>

        <div class="col-12 col-sm-12 col-lg-6 col-md-5 p-0">
          {% for button in buttons %}
          <a class="btn btn-secondary mt-1 mr-1" href="?{{ button.query_text }}" style="width:64px"><i class="{{ button.icon_class }}  fa-2x py-0"></i></a>
          {% endfor %}
          <!--  fas fa-archive    fas fa-tshirt     fas fa-futbol   fas fa-paint-roller    fas fa-car   fas fa-shoe-prints                    -->

        </div>

        <div class="col-12 col-sm-12 col-lg-3 col-md-4 p-0">
          <form class="form-inline mt-1 mb-0" id="searchform" action="{% url 'home' %}" method="get" accept-charset="utf-8">
            <div class="input-group" style="width:100%">
              <input type="text" class="form-control" id="searchbox" name="text">
              <div class="input-group-append"><button class="btn btn-secondary" type="submit" ><i class="fas fa-search"></i></button></div>
            </div>
          </form>
        </div>




      </div>
    </div>
  </div>
{% endblock header %}

{% block stripblock %}
{% endblock stripblock %}

{% block mainblock %}
{% endblock mainblock %}

{% block footer %}
  <div style ="line-height:1rem">
    <div class="container-fluid">
      <div class="row bg-primary p-1">

        <div class="col-12 col-sm-12 col-md-1 col-lg-1 p-0">
        </div>


        <div class="col-12 col-sm-12 col-md-5 col-lg-4 p-0">
          {% for link in links %}
          <div class="m-0 p-0"><small ><a  href="?{{ link.query_text }}">{{ link.link_text }}</a></small></div>
          {% endfor %}
        </div>


        <div class="col-12 col-sm-12 col-md-6 col-lg-7 p-0">
          <h6><small><a href="{% url 'colors' %}?{{ request.GET.urlencode }}">colors</a></small></h6>
        </div>

      </div>
    </div>
  </div>
{% endblock footer %}


  <script src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>
